@using DocManagementSystem.Common.Helpers

@using (new FunctionTracer())
{
    if (Model == null)
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" asp-controller="Doctor" asp-action="Index">MyAspNetCoreApp</a>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Doctor" asp-action="GetDoctors">All Doctors</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Doctor" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }
}